@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box{
  display: block;
  width: 90%;
  /*height: 150px;*/
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
  border: solid 1px #16600a;
}

.box-1{
  flex-basis: 10%;
}

.box-2{
  display: flex;
}
/* child of box-2*/
.box-child-1{
  flex-basis: 250px;
  height: 100px;
}
.box-child-2{
  flex-grow:2;
}
/* child of box-2*/
.box-3{
  display: flex;
}
/* child of box-3*/
.box-child-3{
  flex-grow:1;
  height: 200px;
}
.box-child-4{
  flex-grow:1;
}
.box-child-5{
  flex-grow:1;
}
.box-child-6{
  flex-grow:1;
}
/* child of box-3*/
.box-4{
  display: flex;
  justify-content: center;
}
/* child of box-4*/
.box-child-7{
  flex-basis: 50%;
  height: 110px;
  border-top: 0;
  border-bottom: 0;
}
/* child of box-4*/
